@media(max-width: 778px)
{
.container {
    display: flex;
    flex-direction: column;
    background-color: #284B63;
    width: 100%;
    height: auto;
    }
.partie1 {
    display: none;
    height: 40%;
    width: 100%;
}
.partie2 {
    left: auto;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #284B63;
    margin: auto;
   
    
}
.section1 {
    
    width: 100%;
    height: auto;
    /* background-color: aliceblue; */
}
.section2 {
    width: 100%;
    height: auto;
    /* background-color: rgb(19, 128, 223); */
}
.items, .items1, .items2, .items3, .items4, .items5 {
    width: 100%;
    height: 100px;
    margin: 10px;
    background-color: #153243;
    
}
.animation2 {
    display: flex;
    flex-direction: row;
    padding-left: 40%;
}
}