body {
    margin: 0;
    overflow-x: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    background-color: #284B63;
    width: 100wh;
    height: 100vh;
}
.partie1 {
    height: 40%;
    width: 100%;
}
.partie2 {
    left: 100px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #284B63;
   
    
}
.section1 {
    width: 50%;
    height: auto;
    /* background-color: aliceblue; */
}
.section2 {
    width: 50%;
    height: auto;
    /* background-color: rgb(19, 128, 223); */
}
.items, .items1, .items2, .items3, .items4, .items5 {
    width: 600px;
    height: 100px;
    margin: 10px;
    background-color: #153243;
    
}
/* .items1 {
    display: flex;
    flex-direction: row;
   
} */

.anim1 {
    width: 90%;
    height: 30px;
    background-color: aliceblue;
    justify-content: center;
    margin: auto;
    position: relative;
    justify-content: center;
    top: 25%;
    
}
.animation1 {
    width: 50px;
    height: 100%;
    background-color: #B4B8AB;
    animation-name: animation1;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
}

@keyframes animation1 {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(490px);
    }


}
.animation2 {
    display: flex;
    flex-direction: row;
    padding-left: 250px;
}
.anim2 {
    width: 20px;
    height: 20px;
    opacity: 0;
    color: white;
    font-size: 30px;
    /* background-color:white;  */
    /* border-radius: 50%; */
    justify-content: center;
    margin-top: 40px;
    /* margin-left: 10px; */
    
    top: 25%; 
    animation-name: animation2;
    animation-duration: 10s; 
    animation-iteration-count: infinite;
    
}

@keyframes animation2 {
    from {
        opacity: 0;
    }
    to {
       opacity: 1;
    }
}
.anim3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-top: solid 5px brown;
    border-bottom: solid 5px rgb(6, 82, 245); 
    border-left: solid 5px orange;
    border-right: solid 5px yellow; 
    animation-name: rotation;
    animation-duration: 0.5s; 
    animation-iteration-count: infinite;
    margin:auto;
    top: 25%;
}
@keyframes rotation {
    from {
           rotate: 0deg;
    }
    to {
           rotate: 360deg;
    }
    /* 0% {
        border: solid 5px gold;
    
    }
    25% {
        border: solid 5px black;
    } */
}


.anim1 {
    width: 90%;
    height: 30px;
    background-color: aliceblue;
    justify-content: center;
    margin: auto;
    position: relative;
    justify-content: center;
    top: 25%;
    
}
.anim12 {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 30px;
    /* background-color: aliceblue; */
    justify-content: center;
    margin: auto;
    position: relative;
    justify-content: center;
    top: 25%;
}
.animation31 {
    width: 30px;
    height: 30px;
    /* border-radius: 50%; */
    background-color: transparent;
    border: solid 2px orange;
    animation-name: animation3;
    animation-duration: 0.6s; 
    animation-iteration-count: infinite;
    /* animation-delay: 5s; */
    
    
}

@keyframes animation3 {
    0% {
        
        transform: rotate(0deg) ;
    }
    100% {
    
        transform: rotate(360deg) ;
    }
}

.anim4 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
   
    border-bottom: solid 5px rgb(181, 245, 6);
   
    animation-name: rotation2;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    margin:auto;
    top: 25%;
}
@keyframes rotation2 {
    0% {
           rotate: 0deg;
           background-color: aliceblue;
    }
    25% {
           rotate: 90deg;
           background-color: rgba(255, 251, 0, 0.377);
    }
    50% {
        rotate: 180deg;
        background-color: rgb(195, 235, 102);
    }
    75% {
        rotate: 250deg;
        background-color: rgb(255, 238, 0);
    } 
    75% {
        rotate: 360deg;
        background-color: rgb(255, 136, 0);
    }  
}

.anim41 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-top: solid 5px orange;
    border-right: solid 5px yellow; 
    animation-name: rotation;
    animation-duration: 0.3s; 
    animation-iteration-count: infinite;
    /* margin:auto; */
    top: 25%;
}
@keyframes rotation {
    from {
           rotate: 0deg;
    }
    to {
           rotate: 360deg;
    }
}